@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}
* {
    margin: 0px;
    padding: 0px;
}
/* btn styling */
.btn{
        width: 224px;
        height: 54px;
        background: rgb(230, 83, 60);
        font-weight: bold;
        font-size: 20px;
        color: white;
        padding: 18px 35px;
        cursor: pointer;
        border-radius: 42px;
        border: none;
}
.btn-download{
    width: 224px;
    height: 54px;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    cursor: pointer;
    border-radius: 42px;
    border: 1px solid white;
}
/* nav bar styling */
.navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1060px;
    /* height: 46px; */
    margin: 0 auto;
    margin-top: 57px;
}
.brand-name{
    color: rgb(230, 83, 60);
    font-size: 39px;
    font-weight: 800;
    font-style: italic;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 47px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 18px;
}
.nav-links li a{
    text-decoration: none;
}
.nav-links li .home{
    color: rgb(255, 255, 255);
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    font-weight: 600;
}
.nav-links li a{
    color: rgb(255, 255, 255);
}
.nav-menu{
    color: white;
    display: none;
}
/* banner section styling */
.container{
    justify-content: space-between;
    width: 1060px;
    margin: 0 auto;
}
.banner{
    display: flex;

    margin-top: 32px;
    justify-content: space-between;
}

.banner-text{
    color:rgb(255, 255, 255) ;
    width: 520px;
    height: 491px;
    font-size: 70px;
    margin-top: 60px;
}

.shape{
    font-family: 'Miama', sans-serif;                                            
    font-style: italic;
}
.banner-text h1 {
    width: 520px;
    height: 282px;
    font-weight: 900;
    font-size: 78px;
    margin-bottom: 30px;
    line-height: 120%;
}

.banner-image{
    position: relative;
    width: 349px;
    height: 580px;
}
/* 500+ badge styling */
#badge{
    position: absolute;
    width: 206px;
    height: 95px;
    left: 250px;
    top: 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

#badge-500{
    font-weight: 900;
    font-size: 35px;
    padding-right: 40px;
}
#badge-workout{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.65);
}

#circle{
    background: rgb(230, 83, 60);
    border-radius:40px;
    width: 40px;
    height: 40px;
}
#badge-350{
    display: flex;
    position: absolute;
    width: 206px;
    height: 96px;
    right: 260px;
    bottom: 65px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.1);
    color: white;
    align-items: center;
    padding: 23px;
    gap: 15px;
}
#badge-video{
    font-size: 24px;
    font-weight: 900;
    padding-right: 15px;
}
/* habits section styling  */
.title{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-align: center;
}
.habits{
    margin-bottom: 100px;
}
.habits-text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 54px;
}
.habits-text h1{
    margin-bottom: 14px;
}
.habits-images h3{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 7px;
}
.habits-image{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.habits-images img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgb(40, 39, 39);
    
}
