@media screen and (max-width:576px) {
    /* nav bar responsive */
    .nav-menu{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .navbar{
        width: 353px;
        height: 43px; 
    }
}