@media screen and (max-width:576px) {
    /* nav bar responsive */
    .nav-menu{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .navbar{
         width: 353px;
         height: 43px;
         left: 20px;
         padding: 0px;
         margin-left: 28px;
    }
    .nav-menu{
        font-size: x-large;
    }
    /* banner er text responsive */
    .banner-text h1{
        width: 285px;
        height: 129px;
        font-size: 45px;
        margin-left: 30px;
    }
    .banner-text p{
        width: 285px;
        height: 129px;
        font-size: 19px;
        margin-left: 30px;
        line-height: 24px;
        margin-top: 60px;
    }
    /* banner btn responsive */
    .btn-responsive button{
        width: 180px;
        height: 54px;
        margin-right: 28px;
        padding: 0%;
    }
    .club{
        display: none;
    }
    .btn-responsive{
        display: flex;
        flex-direction: row;
        width: 400px;
        margin: 25px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-image {
        padding: 20px;
    }
    /* badge responsive */
    #badge{
        width: 145px;
        height: 74px;
        left: 220px;
        top: 50px;
    }
    #badge-500{
        font-size: 30.24px;
    }
    #badge-350{
        width: 145px;
        height: 74px;
        left: 20px;
        top: 300px;
    }
    #badge-video{
        font-size: 18.14px;
    }
    #badge-workout{
        font-size: 10px;
    }
    #circle{
        background: rgb(230, 83, 60);
        border-radius:40px;
        width: 40px;
        height: 20px;
    }
    /* habits section  */
    .habits-text{
        margin-left: 20px;
        width: 380px;
    }
    .title{
        font-size: 38px;
    }
    .habits-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .habits-images{
        margin-left: 28px;
        width: 231px;
        height: 274px;
        margin-left: 90px;
        margin-bottom: 90px;
    }
    .habits-images img {
        width: 200px;
        height: 200px;
        margin-bottom: 19px;
    }
    /* run section  responsive */
    .run-section{
        display: grid;
        grid-template-columns: (1, 1fr);
    border-radius: 18px;
    background: rgb(34, 34, 34);
    width: 300px;
    height: 500px;
    margin: 35px;
    
    }
    .run-text{
        width: 287px;
        height: 54px;
    }
    .run-text h1{
        font-size: 40px;
    }
    .run-text p{
        font-size: 14px;
        width: 287px;
        height: 96px;
    }
    .run-img{
            position: relative;
            width: 287px;
            height: 170px;
            left: 5px;
            top: 140px;
    }
    .btn-join{
        width: 287px;
        height: 54px;
    }
        /* bmi section responsive */
        .bmi-hader{
            width: 353px;
            height: 124px;
            position: relative;
            right: 160px;
        }
        .bmi-hader h1{
            font-size: 40px;         
        }

        .calculate{
            height: 880px;
            background: rgb(34, 34, 34);
        }
        .bmi-container{
            display: grid;
            grid-template-columns: (1, 1fr);
            margin-left: 20px;
        }
        .sub-title{
            font-size: 16px;
        }
        .bmi-calculate-section{
            width: 354px;
        }
        .bmi-calculate-section p{
            line-height: 24px;
        }
        form{
            width: 353px;
            height: 150px;
        }
        input[type="text"], input[type="number"], .option-section{
            width: 160px;
            height: 48px;
            border-radius: 8px;
            border: none;
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.6);
            margin-top: 12px;
        }
        .factor{
            width: 338px;
            height: 48px;
        }
        input[placeholder="Weight/kg"] {
            width: 148px;
          }
          input::placeholder {
            font-size: 18px;
          }
          input , select{
            font-size: 18px;
          }

          /* our team section responsive */
          .team{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
        .our-team{
            width: 353px;
            margin-left: 20px;
        }
        .trainer-title{
            font-size: 22px;
        }
        .iamson{
            display: none;
        }
        .dot{
            display:contents;
        }

        /* footer section responsive */
        .fitness{
            width: 317px;
            height: 200px;
            margin-left: 20px;
        }
         .footer-container{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            
         }
          .get{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-top: 30px;
          }
          .get-start{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .get-start-2{
            margin-top: 30px;
            margin-left: 0px;
          }
          .calculate-f{
            height: 1000px;
            background: rgb(34, 34, 34);
          }
          .line-line{
            margin-top: 320px;
          }
          .line{
            
            width: 354px;
          }
   

}